<a href="https://colab.research.google.com/github/rakeshvitta/rakeshvitta/blob/main/Assignment_Group250.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

<b> Assignment Problem Statement 4 </b>

In [8]:
import pandas as pd
import numpy as np
url = 'https://raw.githubusercontent.com/rakeshvitta/rakeshvitta/main/Anamoly.csv'
df = pd.read_csv(url)

In [6]:
df.columns

Index(['duration', 'protocol_type', 'service', 'flag', 'src_bytes',
       'dst_bytes', 'land', 'wrong_fragment', 'hot', 'num_failed_logins',
       'logged_in', 'num_compromised', 'root_shell', 'su_attempted',
       'num_root', 'num_file_creations', 'num_shells', 'num_access_files',
       'num_outbound_cmds', 'is_guest_login', 'count', 'srv_count',
       'serror_rate', 'srv_serror_rate', 'rerror_rate', 'srv_rerror_rate',
       'same_srv_rate', 'diff_srv_rate', 'srv_diff_host_rate',
       'dst_host_count', 'dst_host_srv_count', 'dst_host_same_srv_rate',
       'dst_host_diff_srv_rate', 'dst_host_same_src_port_rate',
       'dst_host_srv_diff_host_rate', 'dst_host_serror_rate',
       'dst_host_srv_serror_rate', 'dst_host_rerror_rate',
       'dst_host_srv_rerror_rate', 'class'],
      dtype='object')

In [7]:
df

,duration,protocol_type,service,flag,src_bytes,dst_bytes,land,wrong_fragment,hot,num_failed_logins,...,dst_host_srv_count,dst_host_same_srv_rate,dst_host_diff_srv_rate,dst_host_same_src_port_rate,dst_host_srv_diff_host_rate,dst_host_serror_rate,dst_host_srv_serror_rate,dst_host_rerror_rate,dst_host_srv_rerror_rate,class
0,0,tcp,private,REJ,0,0,0,0,0,0,...,10.0,0.04,0.06,0.00,0.00,0.00,0.0,1.00,1.00,anomaly
1,0,tcp,private,REJ,0,0,0,0,0,0,...,1.0,0.00,0.06,0.00,0.00,0.00,0.0,1.00,1.00,anomaly
2,2,tcp,ftp_data,SF,12983,0,0,0,0,0,...,86.0,0.61,0.04,0.61,0.02,0.00,0.0,0.00,0.00,normal
3,0,icmp,eco_i,SF,20,0,0,0,0,0,...,57.0,1.00,0.00,1.00,0.28,0.00,0.0,0.00,0.00,anomaly
4,1,tcp,telnet,RSTO,0,15,0,0,0,0,...,86.0,0.31,0.17,0.03,0.02,0.00,0.0,0.83,0.71,anomaly
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
22539,0,tcp,smtp,SF,794,333,0,0,0,0,...,141.0,0.72,0.06,0.01,0.01,0.01,0.0,0.00,0.00,normal
22540,0,tcp,http,SF,317,938,0,0,0,0,...,255.0,1.00,0.00,0.01,0.01,0.01,0.0,0.00,0.00,normal
22541,0,tcp,http,SF,54540,8314,0,0,2,0,...,255.0,1.00,0.00,0.00,0.00,0.00,0.0,0.07,0.07,anomaly
22542,0,udp,domain_u,SF,42,42,0,0,0,0,...,252.0,0.99,0.01,0.00,0.00,0.00,0.0,0.00,0.00,normal
22543,0,tcp,sunrpc,REJ,0,0,0,0,0,0,...,21.0,0.08,0.03,0.00,0.00,0.00,0.0,0.44,1.00,anomaly

Warning: Total number of columns (40) exceeds max_columns (20) limiting to first (20) columns.
Warning: total number of rows (22544) exceeds max_rows (20000). Limiting to first (20000) rows.

In [9]:
#Check rows with empty or na data and print out empty row percentage for each column
e_df=pd.DataFrame().from_records([{"empty_prec":np.round(len(df[df[col].isna()])/len(df), 4)*100, "col":col} for col in df.columns])
print(e_df)

    empty_prec                          col
0         0.00                     duration
1         0.00                protocol_type
2         0.00                      service
3         0.00                         flag
4         0.00                    src_bytes
5         0.00                    dst_bytes
6         0.00                         land
7         0.00               wrong_fragment
8         0.00                          hot
9         0.00            num_failed_logins
10        0.00                    logged_in
11        0.00              num_compromised
12        0.00                   root_shell
13        0.00                 su_attempted
14        0.00                     num_root
15        0.00           num_file_creations
16        0.00                   num_shells
17        0.00             num_access_files
18        0.00            num_outbound_cmds
19        0.00               is_guest_login
20        0.00                        count
21        0.00                    srv_count
22        0.00                  serror_rate
23        0.00              srv_serror_rate
24        0.00                  rerror_rate
25        0.00              srv_rerror_rate
26        0.00                same_srv_rate
27        0.00                diff_srv_rate
28        0.00           srv_diff_host_rate
29        0.06               dst_host_count
30        0.05           dst_host_srv_count
31        0.00       dst_host_same_srv_rate
32        0.00       dst_host_diff_srv_rate
33        0.00  dst_host_same_src_port_rate
34        0.00  dst_host_srv_diff_host_rate
35        0.00         dst_host_serror_rate
36        0.00     dst_host_srv_serror_rate
37        0.00         dst_host_rerror_rate
38        0.00     dst_host_srv_rerror_rate
39        0.00                        class

In [10]:
#No empty columns in the provided data set

In [13]:
#Print First two rows for sanity checking
df.iloc[:2]

,duration,protocol_type,service,flag,src_bytes,dst_bytes,land,wrong_fragment,hot,num_failed_logins,...,dst_host_srv_count,dst_host_same_srv_rate,dst_host_diff_srv_rate,dst_host_same_src_port_rate,dst_host_srv_diff_host_rate,dst_host_serror_rate,dst_host_srv_serror_rate,dst_host_rerror_rate,dst_host_srv_rerror_rate,class
0,0,tcp,private,REJ,0,0,0,0,0,0,...,10.0,0.04,0.06,0.0,0.0,0.0,0.0,1.0,1.0,anomaly
1,0,tcp,private,REJ,0,0,0,0,0,0,...,1.0,0.00,0.06,0.0,0.0,0.0,0.0,1.0,1.0,anomaly